---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Simple from "../../layouts/Simple.astro";
import CopyrightNotice from "../../components/CopyrightNotice.astro";
import { Temporal } from "temporal-polyfill";

export async function getStaticPaths() {
  const posts = await getCollection("authors");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"authors">;

const post = Astro.props;
const pubDate = Temporal.Instant.from(post.data.pubDate);
const { Content } = await render(post);
---

<Simple title={post.data.title}>
  <header>
    <nav>
      <a href="../">[index]</a>
    </nav>
    <hr />
  </header>
  <main>
    <article>
      <header>
        <h1>{post.data.title}</h1>
      </header>
      <div class="content">
        <Content />
      </div>
    </article>
  </main>
  <footer>
    <hr />
    <nav>
      <a href="../">[index]</a>
    </nav>
    <p>
      <CopyrightNotice pubDate={pubDate} />
    </p>
  </footer>
</Simple>

<style>
  .content {
    line-height: 1.8;

    & :global(dfn) {
      font-style: normal;
    }

    & :global(dt) {
      font-weight: bold;
    }

    & :global(dd > p) {
      margin: 0;
    }
  }
</style>
