---
import BaseHead from "../components/BaseHead.astro";

interface Props {
  title: string;
  titleRaw?: boolean;
}

const { title, titleRaw } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={titleRaw ? title : `${title} | yufushiro.dev`} />
  </head>
  <body>
    <slot />
  </body>
</html>
